@tile-width: 270px;

html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  background: #e5e5e5;
}

.central-wrapper {
  max-width: 1140px;
  margin: 0 auto;
  position: relative;
}

.paragraph-end {
  background-image: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(100%, rgba(255, 255, 255, 1)));
  background-image: -webkit-linear-gradient(left, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));
  background-image: -moz-linear-gradient(left, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));
  background-image: -ms-linear-gradient(left, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));
  background-image: -o-linear-gradient(left, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));
  background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=1, StartColorStr='#00ffffff', EndColorStr='#ffffff');
  bottom: 0;
  height: 25px;
  max-height: 100%;
  position: absolute;
  right: 0;
  width: 60px;
}

.new-item {
  width: @tile-width;
  background: #ffffff;
  border:1px solid #b6b6b6;
  position: absolute;
  right:0;
  top: -1000px;
  z-index: 9;
  padding: 10px;

  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;

  -moz-box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  -ms-box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);

  transition: top .35s;
  -webkit-transition: top .35s;
  -moz-transition: top .35s;
  -o-transition: top .35s;

  &.on {
    top: 30px;
  }
}

.home-menu {
  background: #ffffff;
  border-bottom: 1px solid #b7b7b7;
  z-index: 10;

  button.right {
    float: right;
    font-size: 75%;
    margin-top: 5px;
  }
}

.container {
  margin: 35px auto 0;
  max-width: 1140px;
  padding: 10px;

  .item {
    width: @tile-width;
    overflow: hidden;
    margin: 10px 5px;
    background: #ffffff;

    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;

    -moz-box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    -ms-box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);

    .thumb {
      position: relative;


      .empty {
        margin: 5px;
        padding: 0;

        border: 1px dashed #cccccc;
        -moz-border-radius: 2px;
        -webkit-border-radius: 2px;
        border-radius: 4px;

        a {
          display: block;
          text-align: center;
          height: 50px;
          line-height: 50px;
          font-size: 20px;

          color: #0078e7;
          text-decoration: none;

          &:hover {
            background: #f2f2f2;
          }
        }

        form {
          display: none;
        }
      }

      img {
        width: @tile-width;
        display: block;
      }
    }

    .meta {
      padding: 10px;
      font-size: 14px;
      line-height: 17px;

      font-family: 'Roboto', sans-serif;

      .title-container {
        margin: 0;
        padding: 0;
        font-size: inherit;
        line-height: inherit;
        overflow: hidden;

        a {
          color: #333333;
          text-decoration: none;
          font-size: 16px;
          line-height: 18px;
          overflow: hidden;
          white-space: nowrap;

          &:hover {
            text-decoration: underline;
          }

          &.title {
            font-weight: bold;
            text-transform: uppercase;
            max-height: 18px;
            min-height: 18px;
            position: relative;
            display: block;
          }

          &.subtitle {
            font-weight: normal;
            max-height: 36px;
            min-height: 18px;
            position: relative;
            display: block;
          }
        }

      }

      .detail-container {
        .uid {
          color: #aaaaaa;
          font-size: 12px;
          line-height: 15px;
        }
      }
    }
  }
}

.footer {
  position: relative;
  height: 50px;

  .loading-container {
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -25px;
    background: #e5e5e5;
    width: 50px;
    height: 50px;
  }
}