<!DOCTYPE html>
<html>
    <head>
        <title>Favorite</title>
        {% if debug %}
            <link rel="stylesheet" href="{{ url_for('static', filename='css/pure.min.css') }}"/>
            <script src="{{ url_for('static', filename='js/jquery-1.11.0.min.js') }}"></script>
        {% else %}
            <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/pure/0.4.2/pure-min.css"/>
            <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
        {% endif %}

        <link rel="stylesheet" href="{{ url_for('static', filename='css/font.css') }}"/>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"/>
        <script src="{{ url_for('static', filename='js/script.js') }}"></script>
        <script src="{{ url_for('static', filename='js/isotope.pkgd.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/imagesloaded.pkgd.min.js') }}"></script>
    </head>
    <body>
        <div class="home-menu pure-menu-fixed">
            <div class="central-wrapper">
                <div class="pure-menu pure-menu-open pure-menu-horizontal">
                    <a href="#" class="pure-menu-heading">Monodiary.net</a>
                    <ul>
                        <li class="pure-menu-selected"><a href="#">Favorites</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="item">
                <div class="thumb">
                    <img src="http://itemimage.cjmall.com/goods_images/27/968/27071968L.jpg" alt="Sperry - A/O 2-Eye Sahara"/>
                </div>
                <div class="meta">
                    <h2 class="title-container">
                        <a href="#" title="" class="brand">
                            Sperry
                            <span class="paragraph-end"></span>
                        </a>
                        <a href="#" title="" class="model">A/O 2-Eye Sahara</a>
                    </h2>
                    <div class="detail-container">
                        <span class="uid">197640</span>
                    </div>
                </div>
            </div>

            <div class="item">
                <div class="thumb">
                    <img src="http://image.nsmall.com/itemimages/4/887/E13764887.jpg" alt="라코스테 - 울트라 슬림 피케 폴로 셔츠"/>
                </div>
                <div class="meta">
                    <h2 class="title-container">
                        <a href="#" title="" class="brand">
                            라코스테
                            <span class="paragraph-end"></span>
                        </a>
                        <a href="#" title="" class="model">울트라 슬림 피케 폴로 셔츠</a>
                    </h2>
                    <div class="detail-container">
                        <span class="uid">PH6749-42CC3</span>
                    </div>
                </div>
            </div>

            <div class="item">
                <div class="thumb">
                    <img src="http://www.linksjeans.com/shop/data/1/111555.jpg" alt="Nudie Jeans - THIN FINN ORG. BACK 2 BLACK"/>
                </div>
                <div class="meta">
                    <h2 class="title-container">
                        <a href="#" title="" class="brand">Nudie Jeans</a>
                        <a href="#" title="" class="model">THIN FINN ORG. BACK 2 BLACK</a>

                    </h2>
                    <div class="detail-container">
                        <span class="uid">111555</span>
                    </div>
                </div>
            </div>

            <div class="item">
                <div class="thumb">
                    <img src="http://gdimg1.gmarket.co.kr/goods_image2/large_jpgimg/352/779/352779628.jpg" alt="지오다노 - 플랫프론트 버뮤다 다크네이비"/>
                </div>
                <div class="meta">
                    <h2 class="title-container">
                        <a href="#" title="" class="brand">지오다노</a>
                        <a href="#" title="" class="model">플랫프론트 버뮤다 다크네이비</a>
                    </h2>
                    <div class="detail-container">
                        <span class="uid">103201</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="footer">
            <div class="central-wrapper">
                <hr/>
            </div>
        </div>

        <script>
            jQuery(function ($) {
                var $container = $('.container');

                $container.imagesLoaded(function () {
                    $container.masonry({
                        itemSelector: '.item',
                        columnWidth: 285,
                        isAnimated: true
                    });
                });
            });
        </script>
    </body>
</html>