<!DOCTYPE html>
<html>
    <head>
        <title>Favorite</title>
        {% if debug %}
            <link rel="stylesheet" href="{{ url_for('static', filename='css/pure.min.css') }}"/>
            <script src="{{ url_for('static', filename='js/jquery-1.11.0.min.js') }}"></script>
        {% else %}
            <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/pure/0.4.2/pure-min.css"/>
            <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
        {% endif %}

        <link href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/font.css') }}"/>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"/>
        <script src="{{ url_for('static', filename='js/isotope.pkgd.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/imagesloaded.pkgd.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    </head>
    <body>
        <div class="central-wrapper">
            <div class="new-item">
                <form class="pure-form pure-form-stacked" action="{{ url_for('add_favorite') }}" data-validate="{{ url_for('validate_favorite') }}" method="post" enctype="multipart/form-data">
                    <fieldset class="pure-group">
                        <input name="title" type="text" placeholder="Title" class="pure-input-1">
                        <input name="subtitle" type="text" placeholder="Subtitle" class="pure-input-1">
                        <input name="uid" type="text" placeholder="Unique id" class="pure-input-1">
                    </fieldset>

                    <fieldset>
                        <div class="pure-controls">
                            <label for="taken" class="pure-checkbox">
                                <input id="taken" name="taken" type="checkbox">
                                already taken
                            </label>
                        </div>
                    </fieldset>

                    <button class="btn-new-submit pure-button pure-input-1 pure-button-primary">Submit</button>
                </form>
            </div>
        </div>

        <div class="home-menu pure-menu-fixed">
            <div class="central-wrapper">
                <div class="pure-menu pure-menu-open pure-menu-horizontal">
                    <a href="#" class="pure-menu-heading">Monodiary.net</a>
                    <ul>
                        <li class="pure-menu-selected"><a href="#">Favorites</a></li>
                    </ul>

                    <button class="btn-new right pure-button pure-button-primary">
                        New
                    </button>
                </div>
            </div>
        </div>

        <div class="central-wrapper">
            asdf
        </div>

        <div class="container"></div>

        <script>
            var $container = $('.container');
            $container.isotope({
                masonry: {
                    itemSelector: '.item',
                    columnWidth: 285,
                    isAnimated: true
                }
            });
            callFavorites();
        </script>
    </body>
</html>